<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %} - Chatter Bird Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>
<body>
{% block content %}
{% end %}

<hr>
<footer>
    <a href="{{ reverse_url('index') }}">Home</a>
    <a href="{{ reverse_url('contact') }}">Contact</a>
    <blockquote>Liking chatot?! I <em>LOVE</em> Chatot! Kreygasm</blockquote>
</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ static_url('jquery.timeago.js') }}"></script>
<script>
jQuery(document).ready(function() {
    jQuery.timeago.settings.cutoff = 86400 * 1000;
    jQuery("time.thumbnailDate").timeago();
});
</script>
</body>
</html>
